/*
Theme Name: Fable Child Theme
Theme URI: http://anctech.net
Description: Child theme of Fable
Author: ANC Team
Author URI: http://anctech.net
Template: fable
Version: 0.1
*/
@import url("../fable/style.css");
@import url("fonts/font-awesome-4.5.0/css/font-awesome.min.css");

/* --------------------------------------- */
/* Long's STYLE */
/* --------------------------------------- */

/* For Layout */
body, h2, span, a, div, h1, h1 a{
	font-family: 'Roboto' !important;
}
div.theme-main{
	width: 1170px;
}
.theme-page-sidebar-enable.theme-page-sidebar-left > div.theme-column-left{
	max-width:170px;
    color: black;
}
div.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right{
	width: 100%;
	max-width: 1000px;
}
div.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right ul.pb-main{
	width: auto;
	max-width: 1000px;
}
div.pb-header-subheader span.pb-header-content,
div.pb-header-subheader span.pb-subheader-content{
	color: #64BFEB;
}

/* For Sidebar */
div.theme-widget{
	margin-top: 0px;
}
div.sidebar-logo{
	text-align: center;
}
div.sidebar-logo img{
	margin: auto;
	max-width: 80px;
}
div.widget_nav_menu{
	margin-top: 0px;
}
div.widget_nav_menu ul.menu li:first-child a{
	border-top: none;
}
div.widget_nav_menu ul.menu li:last-child a{
	border-bottom: none;
}
div.widget_nav_menu ul.menu li{
	text-align: right;
    text-transform: uppercase;
    /*background-color: #338BB9;*/
}
div.widget_nav_menu ul.menu li:hover,
div.widget_nav_menu ul.menu li a > span{
    background-color: #338cbb;
    background: #338cbb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #338cbb, #4eb7e8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #338cbb, #4eb7e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #338cbb, #4eb7e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #338cbb, #4eb7e8); /* Standard syntax */
}
div.widget_nav_menu ul.menu li a{
    font-size: 11px;
    color: black;
}
div.widget_nav_menu ul.menu li a:hover{
	color: white;
}
div.widget_search, div.widget_text{
	margin-top: 50px;
}
div.widget_search label{
	font-size: 10px;
	height: 32px;
    line-height: 32px;
    padding: 0px 11px;
}
div.widget_search input[type="text"]{
	width: 140px;
	height: 32px;
}
div.widget_search input[type="submit"]{
	width: 30px;
	height: 32px;
	padding: 0px;
	/*background-image: url('images/magnifier.png');*/
	/*background-repeat: no-repeat;*/
	margin-top: 0px;
	background-color: #64BFEB;
}
div.widget_search div:after{
	font-family: FontAwesome;
   	content: '\f002';
   	/*display: inline-block;*/
   	position: absolute;
    top: 5px;
    color: white;
    left: 150px;
    font-size: 16px;
}
div.sidebar-hotline{
	text-align: right;
	padding-right: 30px;
	/*font-weight: bold;*/
	font-size: 10px;
	margin-top: -20px;
}
div.sidebar-hotline div.row1{
	font-size: 10px;
}
div.sidebar-hotline div.row2{
	font-size: 15px;
	color: #24b8eb;
}
div.sidebar-social{
	text-align: right;
	padding-right: 30px;
	font-weight: bold;
	margin-top: -40px;
}
div.sidebar-social a{
	width: 20px;
	height: 20px;
	float: right;
	margin: 3px;
	border: 1px solid black;
	border-radius: 15px;
	font-size: 13px;
}
div.sidebar-footer{
	margin-top: -40px;
	text-align: right;
	font-size: 7px;
	text-transform: uppercase;
	padding-right: 30px;
}

/* For Home page */
div.box-third{
	color: white;
}
div.pb-text.box-third p:first-child{
	font-weight: bold;
	font-size: 16px;
}
div.pb-text.box-third p:last-child{
	font-size: 12px;
}
div.pb-button{
	margin-left: 10px;
}
ul.pb-layout.pb-layout-33x33x33 li div div.pb-button a{
	color: white;
	border: 1px solid white;
	background-color: #FFC600;
	font-weight: bold;
}
ul.pb-layout.pb-layout-33x33x33 li div div.pb-button a:hover{
	color: white;
	border: 1px solid white;
	background-color: transparent;
	font-weight: bold;
}
.pb .pb-layout-33x33x33div.pb-button span.pb-button-content{
	font-size: 11pt;
}
.pb-button.pb-button-size-medium>a>.pb-button-box{
	margin: 10px;
	line-height: 10px;
}
.pb .pb-layout-33x33x33>.pb-layout-column-left,
.pb .pb-layout-33x33x33>.pb-layout-column-right{
	margin: 0px;
	width: 33%;
}
.pb .pb-layout-33x33x33>.pb-layout-column-center{
	margin: 0px;
	width: 34%;	
}
div.theme-column-left > div:last-child{
	font-size: 6px;
	text-transform: uppercase;
}

div.home-boxes li.pb-layout-column-left, div.home-boxes li.pb-layout-column-right{
	background-color: #338BB9;
}
div.home-boxes li.pb-layout-column-center{
	background-color: #64BFEB;
}
.pb .pb-layout-33x33x33>.pb-layout-column-left div div.box-third,
.pb .pb-layout-33x33x33>.pb-layout-column-right div div.box-third,
.pb .pb-layout-33x33x33>.pb-layout-column-center div div.box-third{
	margin: 10px;
}
.pb .pb-layout-33x33x33> li div div.pb-box{
	margin: 0px;
	padding: 0px;
	height: 32px;
	border: none;
    background-color: #338cbb;
    background: #338cbb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #338cbb, #4eb7e8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #338cbb, #4eb7e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #338cbb, #4eb7e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #338cbb, #4eb7e8); /* Standard syntax */
}
ul.pb-layout div.home-slider{
	max-width: 1000px;
	max-height: 450px;
}
ul.pb-layout div.home-slider div.tp-bullets {
	left: 97%;
}
ul.pb-layout div.home-slider div.tp-bullets div.tp-bullet{
	border: 1px solid #fff;
	left: -10px;
}

/* For Services Page */
div.theme-column-right div.pb-line{
	padding-top: 20px;
}
div.theme-column-right ul.pb-layout.pb-layout-50x50 li.pb-layout-column-left,
div.theme-column-right ul.pb-layout.pb-layout-50x50 li.pb-layout-column-right{
	text-align: center;
}
div.box-testo.pb-testimonial div.pb-slider-pagination{
	text-align: center;
}
div.box-testo.pb-testimonial div.pb-slider-pagination a{
	width: 12px !important;
	border-radius: 20px;
	margin: 2% !important;
	position: inherit;
	float: none;
	display: inline-block;
}
div.box-testo.pb-testimonial div.pb-slider-pagination a.selected{
    background-color: #4eb7e8;
    border-color: #4eb7e8;
}

/* For Contact Page */
div.pb-line.pb-clear-fix.pb-line-css-group-contact-feature{
	margin: 80px;
}

/* For Footer */
body.theme-footer-sticky div.theme-footer.theme-clear-fix{
	margin-top: 100px;
	position: relative;
}

/* For Jobs page */
ul.pb-layout div.job-content{
	padding: 15px;
}
ul.pb-layout div.job-content ul{
	padding-left: 15px;
}
ul.pb-layout div.job-content ul li{
	background-image: url('images/bullet.png');
}

/* --------------------------------------- */
/* Hoang's Xi-tin dau */
/* --------------------------------------- 

/* For Posts page */

div.theme-column-right ul.theme-blog{
	padding-left: 15px;
}
div.theme-column-right ul.theme-blog li.theme-post{
	width: 45%;
	text-align: center;
	float: left;
	padding: 1px;
}
div.theme-column-right ul.theme-blog li.theme-post:hover{
	border: 1px dashed #24b8eb;
	padding: 0px;
}
ul.theme-blog > li > div.theme-post-section-icon,
ul.theme-blog > li > div > div.theme-post-date,
ul.theme-blog > li > div.theme-post-section-header,
ul.theme-blog > li > div.theme-post-section-button,
ul.theme-blog > li > div.theme-post-section-divider{
	display: none;
}
ul.theme-blog > li > div.theme-post-section-preambule{
	padding: 10px;
	width: 150px;
	height: 100px;
	float: left;
}
ul.theme-blog > li > div.theme-post-section-header-cstm{
	padding-top: 5px;
}
ul.theme-blog > li div.theme-post-section-content{
	text-align: left;
}
ul.theme-blog > li > div.theme-post-section-header-cstm a{
	text-decoration: none;
}
ul.theme-blog > li > div.theme-post-section-header-cstm h6{
	color: #24b8eb;
	text-align: left;
	font-size: 18px;
	font-style: normal;
}
div.theme-blog-pagination-box div.theme-blog-pagination > a:hover,
div.theme-blog-pagination-box div.theme-blog-pagination > span{
	border-radius: 50px;
	background-color: #24b8eb;
	border-color: transparent;
}
div.theme-post-section-preambule div.pb-image-box > a > img{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
}
div.theme-post-section-preambule div.pb-image-box > a > img:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
     transform:scale(1.25);
}

/* For Single Post */
div.theme-column-right div.theme-post.post{
	padding: 10px;
}
div.theme-column-right div.theme-post-section-navigation div a img{
	width: auto;
	max-width: 150px;
}
div.theme-column-right div.wp_rp_wrap{
	text-align: center;
}
div.wp_rp_wrap div.wp_rp_content div.wp_rp_footer{
	display: none;
}
div.heateor_sss_sharing_container div.heateor_sss_sharing_title{
	/*border: 1px solid #ffc600;*/
	/*background-color: #ffc600;*/
	color: darkgray;
	width: 130px;
	float: left;
	padding-left: 10px;
	height: 38px;
	margin: 1px 0!important;
	font-style: normal;
	top: 2px;
	position: relative;
	line-height: 39px;
}
div.heateor_sss_sharing_container div.heateor_sss_sharing_title:before{
	font-family: FontAwesome;
   	content: '\f1e0';
   	margin-right: 10px;
}
div.heateor_sss_sharing_container ul.heateor_sss_sharing_ul{
	float: left;
}
div.heateor_sss_sharing_container ul.heateor_sss_sharing_ul > li{
	padding-left: 10px !important;
}
div.bg-gray-related{
	background-color: #fafafa;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 60px;
}
div.chpcs_image_carousel{
	background-color: #fafafa;
}
div.chpcs_image_carousel > a.chpcs_prev,
div.chpcs_image_carousel > a.chpcs_next{
	font-size: 200px;
	line-height: 150px;
	height: 150px;
	margin-top: -150px;
	font-weight: 100;
    color: #338cbb;
}


















/* --------------------------------------- */
/* Animation STYLE */
/* --------------------------------------- */
.fadeInRight{
	-webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.fadeInLeft{
	-webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.et-animation{
    opacity: 0;
    filter: alpha(opacity=0);
    filter: alpha(opacity=100)\0/;
    opacity: 1\0/;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    -ms-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeInLeft{
	0%{
		opacity:0;
		-webkit-transform: translateX(-175px);
	}

	100%{
		opacity:1;
		-webkit-transform:translateX(0);
	}
}@-moz-keyframes fadeInLeft{
	0% {
		opacity:0;
		-moz-transform:translateX(-175px);
	}

	100%{
		opacity:1;
		-moz-transform:translateX(0);
	}
}@-o-keyframes fadeInLeft{
	0%{
		opacity:0;
		-o-transform:translateX(-175px);
	}

	100%{
		opacity:1;
		-o-transform:translateX(0);
	}
}@-ms-keyframes fadeInLeft{
	0%{
		opacity:0;
		-ms-transform:translateX(-175px);
	}

	100%{
		opacity:1;
		-ms-transform:translateX(0);
	}
}@keyframes fadeInLeft{
	0%{
		opacity:0;
		transform:translateX(-175px);
	}

	100%{
		opacity:1;
		transform:translateX(0);
	}
}@-webkit-keyframes fadeInRight {
        0% {
                opacity: 0;
                -webkit-transform: translateX(175px);
        }

        100% {
                opacity: 1;
                -webkit-transform: translateX(0);
        }
}@-moz-keyframes fadeInRight {
        0% {
                opacity: 0;
                -moz-transform: translateX(175px);
        }

        100% {
                opacity: 1;
                -moz-transform: translateX(0);
        }
}@-o-keyframes fadeInRight {
        0% {
                opacity: 0;
                -o-transform: translateX(175px);
        }

        100% {
                opacity: 1;
                -o-transform: translateX(0);
        }
}@-ms-keyframes fadeInRight {
        0% {
                opacity: 0;
                -ms-transform: translateX(175px);
        }

        100% {
                opacity: 1;
                -ms-transform: translateX(0);
        }
}@keyframes fadeInRight {
        0% {
                opacity: 0;
                transform: translateX(175px);
        }

        100% {
                opacity: 1;
                transform: translateX(0);
        }
}@-webkit-keyframes fadeInUp {
        0% {
                opacity: 0;
                -webkit-transform: translateY(40px);
        }

        100% {
                opacity: 1;
                -webkit-transform: translateY(0);
        }
}@-moz-keyframes fadeInUp {
        0% {
                opacity: 0;
                -moz-transform: translateY(40px);
        }

        100% {
                opacity: 1;
                -moz-transform: translateY(0);
        }
}@-o-keyframes fadeInUp {
        0% {
                opacity: 0;
                -o-transform: translateY(40px);
        }

        100% {
                opacity: 1;
                -o-transform: translateY(0);
        }
}@-ms-keyframes fadeInUp {
        0% {
                opacity: 0;
                -ms-transform: translateY(40px);
        }

        100% {
                opacity: 1;
                -ms-transform: translateY(0);
        }
}@keyframes fadeInUp {
        0% {
                opacity: 0;
                transform: translateY(40px);
        }

        100% {
                opacity: 1;
                transform: translateY(0);
        }
}@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}